/* Estilos por etiqueta */
html {
    scroll-behavior: smooth;
}
h1{
    font-size: 26px;
}
hr{
    border-top: 1px solid #17a4b8;
}
footer{
    background-color: #17a4b8;
}

/* Estilos por clase */

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.header-position{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.icon-model{
    background-color: #17a4b8;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.card-body{
    background-color: #17a4b8;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
    height: 80%;
    margin-top: 10%;
}
.separador{
    display: flex;
    justify-content: space-between;
}
.fab{
    background-color: white;
    padding: 5px;
    color: #17a4b8;
    margin: 0 10px;
}
.navbar-light .navbar-toggler{
    border-color: #ffffff;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    text-align: center;
}
#quienes-somos, .item2{
    display: none;
}

/* Añadimos una media query para revertir el display none de las partes ocultas */

@media (min-width: 992px){
    #quienes-somos, .item2{
        display: revert;
    }
    h1{
        font-size: 32px;
    }
    .header-position{
        position: fixed;
    }
}
